# ignore class files
*.class

# ignore classes directory
classes/

# ignore target directory
target/

# ignore eclipse ide config files
.project
.classpath
.settings/

# ignore intellij idea ide config files
.idea/
*.iml

# ignore log files
*.log*